annotated-types==0.8.0
attrs==26.1.0
blinker==1.9.0
cattrs==26.2.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
cryptography==50.0.1
defusedxml==0.7.1
Flask==3.1.3
geographiclib==2.1
geopy==2.5.0
google-api-core==2.38.0
google-api-python-client==2.200.0
google-auth==2.58.0
google-auth-httplib2==0.4.2
google-auth-oauthlib==1.4.1
googleapis-common-protos==1.75.3
gspread==6.2.1
gunicorn==26.2.0
httplib2==0.32.0
idna==3.20
itsdangerous==2.2.0
Jinja2==3.1.6
jplephem==2.24
kerykeion==6.0.2
libephemeris==3.2.1
MarkupSafe==3.0.3
numpy==2.5.3
oauth2client==4.1.3
oauthlib==3.3.1
opentelemetry-api==1.44.0
packaging==26.3
platformdirs==4.11.10
proto-plus==1.28.4
protobuf==7.36.2
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
pyerfa==2.0.1.5
pyparsing==3.3.2
requests==2.34.2
requests-cache==1.3.3
requests-oauthlib==2.0.0
rsa==4.9.1
setuptools==84.0.0
sgp4==2.27
simple-ascii-tables==1.0.1
six==1.17.0
skyfield==1.55
skyfield-data==7.0.0
svg-polish==1.0.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
uritemplate==4.2.0
url-normalize==3.0.0
urllib3==2.8.0
Werkzeug==3.1.8
wheel==0.48.0
zstandard==0.25.0
